<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>


  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter,
                        Common.Logging.Log4Net">
        <arg key="configType" value="INLINE"/>
        <arg key="configFile" value="Trace/application.log.txt"/>
        <arg key="level" value="ALL" />
      </factoryAdapter>
    </logging>
  </common>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="HeaderLayout" value="${gdc:item=Product}  ${gdc:item=Version} ${gdc:item=Company} ${windows-identity}" />
    <variable name="NormalLayout" value="${longdate} ${message}"/>

    <targets>
      <target name="file" xsi:type="File"
              layout="${NormalLayout}"
              fileName="${basedir}/logs/${shortdate}.log" keepFileOpen="false" encoding="iso-8859-2" />

      <target name="fileHeader" xsi:type="File"
              layout="${HeaderLayout}"
             fileName="${basedir}/logs/${shortdate}.log" keepFileOpen="false" encoding="iso-8859-2" />

    </targets>
    <rules>
      <logger name="HeaderLogger" minlevel="Trace" writeTo="fileHeader" final="true" />
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
    
  </nlog>

  <log4net>

    <appender name="GeneralLog" type="log4net.Appender.RollingFileAppender">
      <file value="Trace/application.log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss} [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="GeneralLog"/>
    </root>
    
    <!--<root>
      <level value="ALL" />
      <appender-ref ref="console" />
      <appender-ref ref="file" />
    </root>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file value="myapp.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>-->


  </log4net>

</configuration>